img {
  vertical-align:middle;
}

#wordPress {
  background:#FFF;
}

#wordPress_sourceList {
  background:url(../images/texture-dark.png);
}

.source-item {
  padding:5px 10px;
  border-bottom:1px solid rgba(255,255,255,0.1);
  border-top:1px solid rgba(0,0,0,0.1);
  color:#FFF;
  font-size:16px;
}

.unread-count {
  min-width:20px;
  height:22px;
  text-align:center;
  font-size:14px;
  color:#A52A08;
  font-weight:bold;
  text-shadow:0 1px 0 #FFF;
  border-width:0 10px;
  line-height:22px;
  -webkit-border-image:url(../images/unread-count-border.png) 0 10 0 10;

}

#wordPress_middle_client {
  background:#FFF;
}

#wordPress_detail,
#wordPress_detail_client {
  background:#FFF;
}

.account-drawer {
  background:url(../images/account-drawer.png) repeat-x left bottom;
  border-top:1px solid rgba(0,0,0,0.1);
}

.account-drawer .source-item {
  border:none;
}

.source-item.active-selection {
  padding-top:0;
  padding-bottom:0;
  border-color: #FFF;
  border-style:solid;
  border-width: 5px 0;
  -webkit-border-image:url(../images/source-list-active-selection.png) 5 0 5 0;
}


.enyo-divider-caption {
  font-size:16px;
  font-weight:normal;
  color:#FFF;
}

.account-drawer > .enyo-hflexbox {
  border-bottom:1px solid rgba(255,255,255,0.1);
  padding:4px 0;
}

.account-list {
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.enyo-divider-right-cap, .enyo-divider-left-cap {
	display: none;
}

.enyo-collapsible-arrow {
  width:36px;
  background-image:url(../images/divider-arrow.png);
}

.enyo-button-switched.enyo-collapsible-arrow {
  background-image:url(../images/divider-arrow.png);
  width:36px;
}

.enyo-button-switched.enyo-collapsible-arrow.enyo-button-down {
  background-position: center -32px;
}

.enyo-divider-icon {
  border-radius:5px;
}

.enyo-nouveau.enyo-footer.source-list-command {
  background-position: left bottom;
  background-image:url(../images/source-list-command-menu.png);
}

.enyo-nouveau.enyo-footer {
  background-position: left bottom;
  background-image:url(../images/command-menu-gloss.png);
}


.comment-item {
  border-top: 1px solid #FFF;
  border-bottom:1px solid #EEE;
  padding-left:0;
}

.comment-author {
  font-size: 14px;
  font-weight: bold;
  color:#000;
}

.comment-list-avatar {
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 0 2px rgba(0,0,0,1);
  box-shadow: 0 0 2px rgba(0,0,0,1);
  border:1px solid #FFF;
}

.comment-content {
  font-size:14px;
  color:#333;
  line-height:1.1;
  margin:5px 0;
  padding-left: 50px;
  background:url(../images/icons/quotes-tiny.png) no-repeat 20px top;
}

.comment-subject {
  font-size:14px;
  color:#666;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis; 
  margin:5px 0;
  padding-left: 50px;
  background:url(../images/icons/post-tiny.png) no-repeat 20px top;
}

.comment-timestamp {
  font-size: 14px;
  font-weight:bold;
  color:#999;
}

.comment-left-col {
  text-align:center;
  width:50px;
}

.comment-item.active-selection, .enyo-held.comment-item {
  background-image:url(../images/active-selection.png);
  -webkit-background-size: 100% 100%;
}


/* Setup Screen */

#wordPress_setup_header {
  background:url(../images/wordpress.png) no-repeat center center, url(../images/setup_shadow.png) no-repeat center bottom, url(../images/header_setup.png);
}

.blog-setup-buttons {
  padding:10px;
}

.blog-setup-buttons .enyo-button {
  margin: 5px auto;
  max-width:400px;
}