.desktop {
  background:url(../images/white-wood.jpg);
  position:absolute; top:0; right:0; left:0; bottom:0
}

.composer {
  position:absolute;
  top:0;right:10%;left:10%;bottom:0;
  background:#F9F9F9;
  -webkit-transition: 200ms ease-in-out;
  -webkit-transition-property: left right;
  -webkit-box-shadow: 0 0 7px 5px #555;
}

.composer.expanded-mode {
  right:0;
  left:0;
}

.wp-formatBtn {
	display: inline;
	width: 100px;
}

#compose_contentWrapper {
/*	background-image: -webkit-linear-gradient(black, white);  */
	background-color: #E4E4E4;
	border-color: #DFDFDF;
	border-radius: 6px 6px 0 0;
	border-style: solid;
	border-width: 1px;
	margin: 2px 10px 1px 10px;
}

#compose_richTextButtons {
	padding: 10px 6px 50px 6px;
}

#compose_titleField {
	background-color: #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	border-color: #DFDFDF;
	border-style: solid;
	border-width: 1px;
    line-height: 100%;
    outline: medium none;
	margin: 10px;
}

#compose_contentField {
	background-color: #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	border-color: #DFDFDF;
	border-style: solid;
	border-width: 1px;
    line-height: 100%;
    outline: medium none;
	margin-top: 4px;
}

#compose_contentField_input {
	margin: 10px;
	padding-right: 20px;
}

#compose_advanced {
	margin: 10px 0 0 10px;
	width: 100px;
}

#compose_postButton {
	background-color: #21759b;
	color: #FFFFFF;
}

#compose_uploadButton {
	-webkit-border-image: none;
	position: absolute;
	top: 3px;
	left: 717px;
	font-size:8pt;
	width: 30px;
	height: 20px;
	cursor: default;
	border: 1px solid #f6f6f6;
	background-image: url(../js/tiny_mce/themes/advanced/skins/webos/img/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	-webkit-border-radius: 2px;
	line-height: 10px;
}

#compose_uploadButton .enyo-button-down {
	-webkit-border-image: none;
	border: 1px solid #686868;
}