/* Reset */
.webosSkin table, .webosSkin tbody, .webosSkin a, .webosSkin img, .webosSkin tr, .webosSkin div, .webosSkin td, .webosSkin iframe, .webosSkin span, .webosSkin *, .webosSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.webosSkin a:hover, .webosSkin a:link, .webosSkin a:visited, .webosSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.webosSkin table td {vertical-align:middle}

/* Containers */
.webosSkin table {direction:ltr;background:transparent}
.webosSkin iframe {display:block;}
.webosSkin .mceToolbar {height:40px}
.webosSkin .mceLeft {text-align:left}
.webosSkin .mceRight {text-align:right}

/* External */
.webosSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.webosSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.webosSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.webosSkin table.mceToolbar, .webosSkin tr.mceFirst .mceToolbar tr td, .webosSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.webosSkin table.mceLayout {border:0;}
.webosSkin .mceIframeContainer {}
.webosSkin .mceStatusbar {
	display: block;
	font-family: 'MS Sans Serif',sans-serif,Verdana,Arial;
	font-size: 9pt;
	line-height: 16px;
	overflow: visible;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
}
.webosSkin .mceStatusbar div {float:left; padding:2px;}
.webosSkin .mceStatusbar a.mceResize {
	display: block;
	float: right;
	background: url(../../img/icons.gif) -800px 0;
	width: 20px;
	height: 20px;
	cursor: se-resize
}
.webosSkin .mceStatusbar a:hover {text-decoration:underline}
.webosSkin table.mceToolbar {margin: 0 2px 2px 6px;}
.webosSkin #content_toolbar1 {margin-top: 2px;}
.webosSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.webosSkin span.mceIcon, .webosSkin img.mceIcon {display:block; width:20px; height:20px}
.webosSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.webosSkin .mceButton {
display: block;
width: 20px;
height: 20px;
cursor: default;
padding: 4px 6px;
margin-right: 6px;
border: 1px solid #f6f6f6;
background-image: url(img/butt2.png);
background-position: left top;
background-repeat: repeat-x;
-webkit-border-radius: 2px;
/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 2px 1px #fff;*/
}
.webosSkin a.mceButton span, .webosSkin a.mceButton img {}
.webosSkin .mceOldBoxModel a.mceButton span, .webosSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.webosSkin a.mceButtonEnabled:hover {
	border: 1px solid #686868;
	background-position:0 -10px;
	/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 2px 1px #464646;*/
}
.webosSkin a.mceButtonActive, .webosSkin a.mceButtonSelected {
	/*background-image: inherit;*/
	border: 1px solid #464646;
	/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #464646;*/
}
.webosSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30);}
.webosSkin .mceButtonDisabled {}

/* Separator */
.webosSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 8px 0 4px}

/* ListBox */
.webosSkin .mceListBox, .webosSkin .mceListBox a {display:block}
.webosSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.webosSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.webosSkin table.mceListBoxEnabled:hover .mceText, .webosSkin .mceListBoxHover .mceText, .webosSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.webosSkin table.mceListBoxEnabled:hover .mceOpen, .webosSkin .mceListBoxHover .mceOpen, .webosSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.webosSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.webosSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.webosSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.webosSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.webosSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.webosSkin .mceSplitButton a, .webosSkin .mceSplitButton span {
display: block;
height: 20px
}
.webosSkin .mceSplitButton {
display: block;
margin: 1px;
direction: ltr;
}
.webosSkin table.mceSplitButton td {
padding: 2px;
-webkit-border-bottom-left-radius: 0;
-webkit-border-top-left-radius: 0;
}
.webosSkin table.mceSplitButton td a {
border: 1px solid #f6f6f6;
background-image: url(img/butt2.png);
background-position: left top;
background-repeat: repeat-x;
/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 2px 1px #fff;*/
}
.webosSkin table.mceSplitButton:hover td {
background-image: inherit 0 -10px;
}
.webosSkin .mceSplitButton a.mceAction {
height: 20px;
width: 20px;
padding: 4px 2px;
}
.webosSkin .mceSplitButton span.mceAction {
background-image: url(../../img/icons.gif);
background-repeat: no-repeat;
background-color: transparent;
width: 20px;
}
.webosSkin .mceSplitButton a.mceOpen {
width: 10px;
height: 20px;
background-image: url(img/down_arrow.gif);
background-position: 1px 2px;
background-repeat: no-repeat;
padding: 4px 2px;
margin-right: 4px;
border-left: 0 none !important;
}
.webosSkin .mceSplitButton span.mceOpen {
display: none
}
.webosSkin .mceSplitButtonDisabled .mceAction {
opacity: 0.3;
filter: alpha(opacity=30);
}
.webosSkin .mceListBox a.mceText, .webosSkin .mceSplitButton a.mceAction {
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}
.webosSkin .mceSplitButton a.mceOpen, .webosSkin .mceListBox a.mceOpen {
border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
}

/* ColorSplitButton */
.webosSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.webosSkin .mceColorSplitMenu td {padding:2px}
.webosSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.webosSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.webosSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.webosSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.webosSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.webosSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.webosSkin .mce_forecolor span.mceAction, .webosSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.webosSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.webosSkin .mceNoIcons span.mceIcon {width:0;}
.webosSkin .mceNoIcons a .mceText {padding-left:10px}
.webosSkin .mceMenu table {background:#FFF}
.webosSkin .mceMenu a, .webosSkin .mceMenu span, .webosSkin .mceMenu {display:block}
.webosSkin .mceMenu td {height:20px}
.webosSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.webosSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.webosSkin .mceMenu span.mceText, .webosSkin .mceMenu .mcePreview {font-size:11px}
.webosSkin .mceMenu pre.mceText {font-family:Monospace}
.webosSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.webosSkin .mceMenu .mceMenuItemEnabled a:hover, .webosSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.webosSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.webosSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.webosSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.webosSkin .mceMenuItemDisabled .mceText {color:#888}
.webosSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.webosSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.webosSkin .mceMenu span.mceMenuLine {display:none}
.webosSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.webosSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.webosSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.webosSkin .mce_formatPreview a {font-size:10px}
.webosSkin .mce_p span.mceText {}
.webosSkin .mce_address span.mceText {font-style:italic}
.webosSkin .mce_pre span.mceText {font-family:monospace}
.webosSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.webosSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.webosSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.webosSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.webosSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.webosSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.webosSkin span.mce_bold {background-position:0 0}
.webosSkin span.mce_italic {background-position:-60px 0}
.webosSkin span.mce_underline {background-position:-140px 0}
.webosSkin span.mce_strikethrough {background-position:-120px 0}
.webosSkin span.mce_undo {background-position:-160px 0}
.webosSkin span.mce_redo {background-position:-100px 0}
.webosSkin span.mce_cleanup {background-position:-40px 0}
.webosSkin span.mce_bullist {background-position:-20px 0}
.webosSkin span.mce_numlist {background-position:-80px 0}
.webosSkin span.mce_justifyleft {background-position:-460px 0}
.webosSkin span.mce_justifyright {background-position:-480px 0}
.webosSkin span.mce_justifycenter {background-position:-420px 0}
.webosSkin span.mce_justifyfull {background-position:-440px 0}
.webosSkin span.mce_anchor {background-position:-200px 0}
.webosSkin span.mce_indent {background-position:-400px 0}
.webosSkin span.mce_outdent {background-position:-540px 0}
.webosSkin span.mce_link {background-position:-500px 0}
.webosSkin span.mce_unlink {background-position:-640px 0}
.webosSkin span.mce_sub {background-position:-600px 0}
.webosSkin span.mce_sup {background-position:-620px 0}
.webosSkin span.mce_removeformat {background-position:-580px 0}
.webosSkin span.mce_newdocument {background-position:-520px 0}
.webosSkin span.mce_image {background-position:-380px 0}
.webosSkin span.mce_help {background-position:-340px 0}
.webosSkin span.mce_code {background-position:-260px 0}
.webosSkin span.mce_hr {background-position:-360px 0}
.webosSkin span.mce_visualaid {background-position:-660px 0}
.webosSkin span.mce_charmap {background-position:-240px 0}
.webosSkin span.mce_paste {background-position:-560px 0}
.webosSkin span.mce_copy {background-position:-700px 0}
.webosSkin span.mce_cut {background-position:-680px 0}
.webosSkin span.mce_blockquote {background-position:-220px 0}
.webosSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.webosSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.webosSkin span.mce_forecolorpicker {background-position:-720px 0}
.webosSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.webosSkin span.mce_advhr {background-position:-0px -20px}
.webosSkin span.mce_ltr {background-position:-20px -20px}
.webosSkin span.mce_rtl {background-position:-40px -20px}
.webosSkin span.mce_emotions {background-position:-60px -20px}
.webosSkin span.mce_fullpage {background-position:-80px -20px}
.webosSkin span.mce_fullscreen {background-position:-100px -20px}
.webosSkin span.mce_iespell {background-position:-120px -20px}
.webosSkin span.mce_insertdate {background-position:-140px -20px}
.webosSkin span.mce_inserttime {background-position:-160px -20px}
.webosSkin span.mce_absolute {background-position:-180px -20px}
.webosSkin span.mce_backward {background-position:-200px -20px}
.webosSkin span.mce_forward {background-position:-220px -20px}
.webosSkin span.mce_insert_layer {background-position:-240px -20px}
.webosSkin span.mce_insertlayer {background-position:-260px -20px}
.webosSkin span.mce_movebackward {background-position:-280px -20px}
.webosSkin span.mce_moveforward {background-position:-300px -20px}
.webosSkin span.mce_media {background-position:-320px -20px}
.webosSkin span.mce_nonbreaking {background-position:-340px -20px}
.webosSkin span.mce_pastetext {background-position:-360px -20px}
.webosSkin span.mce_pasteword {background-position:-380px -20px}
.webosSkin span.mce_selectall {background-position:-400px -20px}
.webosSkin span.mce_preview {background-position:-420px -20px}
.webosSkin span.mce_print {background-position:-440px -20px}
.webosSkin span.mce_cancel {background-position:-460px -20px}
.webosSkin span.mce_save {background-position:-480px -20px}
.webosSkin span.mce_replace {background-position:-500px -20px}
.webosSkin span.mce_search {background-position:-520px -20px}
.webosSkin span.mce_styleprops {background-position:-560px -20px}
.webosSkin span.mce_table {background-position:-580px -20px}
.webosSkin span.mce_cell_props {background-position:-600px -20px}
.webosSkin span.mce_delete_table {background-position:-620px -20px}
.webosSkin span.mce_delete_col {background-position:-640px -20px}
.webosSkin span.mce_delete_row {background-position:-660px -20px}
.webosSkin span.mce_col_after {background-position:-680px -20px}
.webosSkin span.mce_col_before {background-position:-700px -20px}
.webosSkin span.mce_row_after {background-position:-720px -20px}
.webosSkin span.mce_row_before {background-position:-740px -20px}
.webosSkin span.mce_merge_cells {background-position:-760px -20px}
.webosSkin span.mce_table_props {background-position:-980px -20px}
.webosSkin span.mce_row_props {background-position:-780px -20px}
.webosSkin span.mce_split_cells {background-position:-800px -20px}
.webosSkin span.mce_template {background-position:-820px -20px}
.webosSkin span.mce_visualchars {background-position:-840px -20px}
.webosSkin span.mce_abbr {background-position:-860px -20px}
.webosSkin span.mce_acronym {background-position:-880px -20px}
.webosSkin span.mce_attribs {background-position:-900px -20px}
.webosSkin span.mce_cite {background-position:-920px -20px}
.webosSkin span.mce_del {background-position:-940px -20px}
.webosSkin span.mce_ins {background-position:-960px -20px}
.webosSkin span.mce_pagebreak {background-position:0 -40px}
.webosSkin span.mce_restoredraft {background-position:-20px -40px}
.webosSkin span.mce_spellchecker {background-position:-540px -20px}
